# NLP Tutorial 2- Working with Text Files in Python for NLP

###### Watch full video here:  https://youtu.be/LGpi1O4OkR4

### Working with the text files 
- Working with f-strings for formated print
- Working with .CSV, .TSV files to read and write
- Working with %%writefile to create simple .txt files [works in jupyter notebook only]
- Working with Python's inbuilt file read and write

### String Formatter

In [1]:
name = 'KGP Talkie'

In [3]:
print('The YouTube channel is {}'.format(name))

The YouTube channel is KGP Talkie

In [4]:
print(f'The YouTube channel is {name}')

The YouTube channel is KGP Talkie

In [ ]:
#minimum width and alignment between the col
#day value
#1 10
#10 11

In [5]:
data_science_tuts = [('Python for Beginners', 19),
                    ('Feature Selectiong for Machine Learning', 11),
                    ('Machine Learning Tutorials', 11),
                    ('Deep Learning Tutorials', 19)]

In [6]:
data_science_tuts

[('Python for Beginners', 19),
 ('Feature Selectiong for Machine Learning', 11),
 ('Machine Learning Tutorials', 11),
 ('Deep Learning Tutorials', 19)]

In [8]:
for info in data_science_tuts:
    print(info)

('Python for Beginners', 19)
('Feature Selectiong for Machine Learning', 11)
('Machine Learning Tutorials', 11)
('Deep Learning Tutorials', 19)

In [9]:
for info in data_science_tuts:
    print(f'{info[0]:{50}} {info[1]:{10}}')

Python for Beginners                                       19
Feature Selectiong for Machine Learning                    11
Machine Learning Tutorials                                 11
Deep Learning Tutorials                                    19

In [15]:
#>, >, ^
for info in data_science_tuts:
    print(f'{info[0]:<{50}} {info[1]:.>{10}}')

Python for Beginners                               ........19
Feature Selectiong for Machine Learning            ........11
Machine Learning Tutorials                         ........11
Deep Learning Tutorials                            ........19

### Working with .CSV or .TSV Files

In [16]:
import pandas as pd

In [17]:
data = pd.read_csv('moviereviews.tsv', sep = '\t')

In [19]:
data.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [20]:
data.shape

(2000, 2)

In [21]:
data['label'].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [23]:
pos = data[data['label']=='pos']
pos.head()

   label                                             review
2    pos  this has been an extraordinary year for austra...
3    pos  according to hollywood movies made in last few...
11   pos  with stars like sigourney weaver ( " alien " t...
16   pos  i remember hearing about this film when it fir...
18   pos  garry shandling makes his long overdue starrin...

In [26]:
pos.to_csv('pos.tsv', sep = '\t', index = False)

In [28]:
pd.read_csv('pos.tsv', sep = '\t').head()

  label                                             review
0   pos  this has been an extraordinary year for austra...
1   pos  according to hollywood movies made in last few...
2   pos  with stars like sigourney weaver ( " alien " t...
3   pos  i remember hearing about this film when it fir...
4   pos  garry shandling makes his long overdue starrin...

built in magic command in jupyter %%writefile

In [29]:
%%writefile text1.txt
Hello, this is the NLP lesson.
Please Like and Subscribe to show your support

Writing text1.txt

In [30]:
%%writefile -a text1.txt
Thanks for watching

Appending to text1.txt

### Use python's inbuilt command to read and write text file

In [35]:
file = open('text1.txt', 'r')

In [36]:
file

In [33]:
file.read()

'Hello, this is the NLP lesson.\nPlease Like and Subscribe to show your support\nThanks for watching\n'

In [38]:
file.read()

''

In [46]:
file.seek(0)

0

In [47]:
file.read()

'Hello, this is the NLP lesson.\nPlease Like and Subscribe to show your support\nThanks for watching\n'

In [48]:
file.seek(0)

0

In [52]:
file.readline()

''

In [56]:
file.seek(0)

0

In [57]:
file.readlines()

['Hello, this is the NLP lesson.\n',
 'Please Like and Subscribe to show your support\n',
 'Thanks for watching\n']

In [58]:
file.close()

In [59]:
file

In [61]:
with open('text1.txt') as file:
    text_data = file.readlines()
    print(text_data)

['Hello, this is the NLP lesson.\n', 'Please Like and Subscribe to show your support\n', 'Thanks for watching\n']

In [64]:
for temp in text_data:
    print(temp.strip())

Hello, this is the NLP lesson.
Please Like and Subscribe to show your support
Thanks for watching

In [66]:
for i, temp in enumerate(text_data):
    print(str(i) + "  --->  " + temp.strip())

0  --->  Hello, this is the NLP lesson.
1  --->  Please Like and Subscribe to show your support
2  --->  Thanks for watching

#### file writing

In [67]:
file = open('text2.txt', 'w')

In [68]:
file

In [69]:
file.write('This is just another lesson')

27

In [70]:
file.close()

In [74]:
with open('text3.txt', 'w') as file:
    file.write('This is third file \n')

In [75]:
text_data

['Hello, this is the NLP lesson.\n',
 'Please Like and Subscribe to show your support\n',
 'Thanks for watching\n']

In [76]:
with open('text3.txt', 'a') as file:
    for temp in text_data:
        file.write(temp)